.component {
  padding: 24px;

  .heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
  }

  .flex {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }
}
