.component {
  button {
    border: none;
    cursor: pointer;
    width: 200px;
    height: 50px;
    background: red;
    color: #fff;
    font-size: 14px;
    margin: 20px 30px;

    &.green {
      background: green;
    }
  }

  .flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
